<!-- <html> -->
{% extends "layout.html" %}
{% block content %}
<div>


<head>
    <title>{{ title }}</title>
</head>


<body>

<form method="POST" action="{{url_for('update')}}">
    <p>Because of the API limit, only one stock can be updated at a time</p>
    <p>Sorry for the inconvenience</p>

    <select name="_list">
        {% for i in _list %}
        <option value = "{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
    <input type="submit" value='Update Stock/Index Data' />

</form>
<br><br><br>
<form method="POST" action='{{url_for('stock')}}'>
    <select name="stockname">
            {% for i in stocklist %}
            <option value = "{{ i }}">{{ i }}</option>
            {% endfor %}
    </select>

    <br>
    Date<input type="checkbox" name="check" value='date'>
    Open<input type="checkbox" name="check" value="open">
    High<input type="checkbox" name="check" value="high">
    Low<input type="checkbox" name="check" value="low">
    Close<input type="checkbox" name="check" value="close">
    Volume<input type="checkbox" name="check" value="volume">

    <br>
    {{form.csrf_token }}
    {{form.startdate(class='datepicker' )}} {{form.hidden_tag()}}
    {{form.enddate(class='datepicker')}} {{form.hidden_tag()}}

    <input type="submit" value='confirm' />
</form>

<br><br><br>

<form method="POST" action='{{url_for('index')}}'>
    <select name="indexname">
            {% for i in indexlist %}
            <option value = "{{ i }}">{{ i }}</option>
            {% endfor %}
    </select>

    <br>
    Date<input type="checkbox" name="check2" value='date'>
    Open<input type="checkbox" name="check2" value="open">
    High<input type="checkbox" name="check2" value="high">
    Low<input type="checkbox" name="check2" value="low">
    Close<input type="checkbox" name="check2" value="close">

    <br>
    {{form2.csrf_token }}
    {{form2.startdate(class='datepicker' )}} {{form2.hidden_tag()}}
    {{form2.enddate(class='datepicker')}} {{form2.hidden_tag()}}
    <input type="submit" value='confirm' />
</form>



<p>{{ stock }}</p>
<p>{{ temp }}</p>
</body>

</div>
{% endblock content%}
<!-- </html> -->
