
{% extends "layout.html" %}
{% block content %}
<html>


<head>
  <a href="/">Back</a><br><br>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>{{ title }}</title>
<style>
.tbs{text-align:center;}
</style>
</head>


<body>
<br>
<h2>Historic Price Chart of  {{ index_name }}</h2>
<div id="chart" class="chart">

  <script type="text/javascript">

      var area_plot = {{ area_json | safe}};
      Plotly.plot('chart', area_plot, {});

  </script>
</div>
<br><br>
<br>
<div>
<script type="text/javascript">

    var line_plot = {{ line_json | safe}};
    Plotly.plot('chart', line_plot, {});

</script>


</div>

<div class='tables'; >
  <h2>Comparison table</h2>
  <br>
    {{tables | safe}}
</div>

</body>



</html>
{%endblock content%}
