<footer class="footer pt-7 pb-6 bg-primary text-white">
  <link rel="stylesheet" href="/static/style.css">
    <div class="container" style='width:100%;'>
        <div class="row">

            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <h3 class="h5">Contact Us</h3>
                <ul class="links-vertical">
                    <li><a target="_blank" href="https://www.linkedin.com/in/zixi-jiang-337a3117a/">Zixi's LinkedIn</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/xiaoyuwang98/">Xiaoyu's LinkedIn</a></li>


                    </li>

                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <h3 class="h5">Other</h3>
                <ul class="links-vertical">
                    <li><a href="https://www.alphavantage.co/documentation/" target="_blank">API Used
                            <!-- <span class="badge badge-sm badge-secondary ml-2">v3.0</span> -->
                          </a></li>
                    <li><a target="_blank" href="https://github.com/drizzle98/alpha-vantage-project">Github Repo</a></li>

                </ul>
            </div>
            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <h3 class="h5">Leave a Message</h3>
                <p class="text-muted font-small">We would love to see your feedback.</p>
                <form action="#">
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <label class="h6 font-weight-normal text-muted" for="exampleInputEmail3">Suggstions?</label>
                            <input type="text" class="form-control mb-2" placeholder="Type here..." aria-label="Subscribe form" id="feedback3" required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-tertiary shadow-soft btn-block" data-loading-text="Sending" onclick = 'myalert()'>
                                <span>Submit</span>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- <p class="text-muted font-small m-0">We’ll never share your details. See our <a class="text-white" href="#">Privacy Policy</a></p> -->
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col mb-md-0">
                <!-- <a href="https://themesberg.com" target="_blank" class="d-flex justify-content-center">
                    <img src="/static/assets/img/themesberg.svg" height="25" class="mb-3" alt="Themesberg Logo">
                </a> -->
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0"> Alpha Vantage API Project
                    <span class="current-year">2021</span>
                    - coded by <a target="_blank" href="https://appseed.us">Zixi Jiang & Xiaoyu Wang</a>.
                </p>
                </div>
            </div>
        </div>
    </div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>

function myalert() {
    if(document.getElementById("feedback3").value) {
    
        Swal.fire({
        icon: 'success',
        title: 'Thanks for your feedback!',
        showConfirmButton: false,
        timer: 1500
    })
    }
}
</script>
</footer>
<style media="screen">
  footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}


</style>
