
{% extends "layout.html" %}
{% block content %}
<html>


<head>
  <a href="/">Back</a><br><br>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>{{ title }}</title>
<style>
.tbs{text-align:center;}
</style>
</head>


<body>

<h2>Historic Price Chart of  {{ index_name }}</h2>
<div id="chart" class="chart"></div>

</body>

    <script type="text/javascript">

        var graph = {{ plot_json | safe}};
        Plotly.plot('chart', graph, {});

    </script>

</html>
{%end blockcontent%}
