
{% extends "layout.html" %}
{% block content %}

<div>

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>{{ title }}</title>

</head>
<div class="back">
  <a href="/">Back</a>

</div>
<br>
<body>
<h2>{{ stockname }} Historic Stock Price Trend Chart</h2>

<div id="chart" class="chart"></div>

<div class='table'; >
  <h2>Stock Price Table</h2>
  <br>
    {{tables | safe}}
</div>

</body>

    <script type="text/javascript">

        var graph = {{ plot_json | safe}};
        Plotly.plot('chart', graph, {});

    </script>

</div>
{% endblock content %}
