{%extends 'layout.html'%}

{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <a href="/">Back</a>
  <br>
  <br>
  <br>
  <div class="tickers">
  <h3>All tickers that we have </h3>
  <br>

  </div>
  <body>
   <div class="container">

     Tesla: TSLA
     <br>
     Apple Inc: AAPL
     <br>
     Amazon: AMZN
     <br>
     Nio Inc: NIO
     <br>
     Microsoft: MSFT
     <br>
     Facebook: FB
     <br>
     Nvidia: NVDA
     <br>
     Alphabet CI A: GOOGL
     <br>
     Square: SQ
     <br>
     Boeing: BA
     <br>
     Vuzix Corp: FPRX
     <br>
     Alibaba: BABA
     <br>
     Quantumscape Corp: QS
     <br>
     Netflix: NFLX
     <br>
     Riot: RIOT
     <br>
     Five Prime Thera: FPRX
     <br>
     Exxon Mobil: XOM
     <br>
     Home Depot: HD
     <br>
     Moderna Inc : MRNA
     <br>
     Zoom Video Communications CI A: ZM
   </div>
  </body>
</html>


{%endblock content %}
